.container2
{
  background-image: url(imagenes/grass.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
nav
{
  opacity: 0.7;
}
.margen
{
  margin-top:130px;
}

.card_title
{
  text-align: center;
}

.card_fill
{
  opacity: 0.8;
}

.div_1
{
  margin-top: 120px;
  margin-left: 50px;
  margin-bottom: 100px;
  margin-right: 450px;
  background-color: rgba(255,255,255,0.7) !important;
}

.titulo
{
  background-color: Gray;
  opacity: 0.8;
  color: white;
  border-radius: 5px;
  padding-left: 10px;
  font-family: sans-serif;
}


.preguntas
{
  color:SlateGray;
  background-color: white;
  font-weight:lighter;
  font-size: 25px;
  font-family: sans-serif;
}

.respuesta
{
  color:SlateGray;
  background-color: white;
  font-weight:lighter;
  font-size: 20px;
  font-family: sans-serif;
  padding-left: 17px;
  background-color: rgba(255,255,255,0.8) !important;
}

.item
{
  width: 35px;
  height: 35px;
  float: left;
  display: inline;
}


@@media only screen and (max-width: 1200px) {
	.login-box{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float:left
}

@@media only screen and (max-width: 992px) {
  .login-box{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float:left
}

@@media only screen and (max-width: 768px) and (orientation: landscape){
  .login-box{
    width: 40%;
    height: 80%;
    margin-left: 5%;
    margin-right: 5%;
    float:left
  }
  body{
    background-repeat: no-repeat;
  }
}

@@media only screen and (max-width: 480px) {
  .login-box{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float:left
}

@@media only screen and (max-width: 320px) {
  .login-box{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    float:left
}
